body {
    font-family: "Montserrat";
    background-image: radial-gradient(circle, #3f4450, #333541);
    color: white;
    margin: 0;
}

.body {
    padding: 0 20rem;
}

/* Add a black background color to the top navigation */
.top-navbar {
    display: flex;
    background-color: #333;
    justify-content: center;
    align-items: center;
    position: sticky;
    overflow: hidden;
    top: 0;
    margin: 0;
    width: 100%;
    height: 50px;
}
  
/* Style the links inside the navigation bar */
.top-navbar a {
    width: 150px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: #f2f2f2;
    text-decoration: none;
    font-size: 18px;
}
  
/* Change the color of links on hover */
.top-navbar a:hover {
    background-color: #ddd;
    color: black;
}

a {
    color: rgb(0, 110, 255);
    text-decoration: none;
}

a.anchor {
    color: white;
    padding-top: 30px;
    margin-top: -30px;
}